.dash-board-right .resources {
  margin-top: 20px;
  height: calc(100vh - 75vh);
  background-color: #fff;
  border-radius: 10px 0px 0px 10px;
  padding: 10px;
}

.dash-board-right .title {
  font-size: 18px;
  font-weight: 500;
}

.dash-board-right .resources p {
  font-size: 14px;
  color: #404040;
  margin-top: calc(100vh - 99vh);
}

.dash-board-right .resources span {
  display: block;
  font-size: 14px;
  color: #26272d;
  margin-top: calc(100vh - 101.5vh);
}

.dash-board-right .sub-title {
  font-weight: 500;
  font-size: 14px;
  margin-top: calc(100vh - 98.5vh);
}

.dash-board-right .save {
  padding: 10px;
  font-size: 18px;
  background-color: #fff;
  margin-top: 20px;
  border-radius: 10px 0px 0px 0px;
  height: calc(100vh - 42.5vh);
  overflow: scroll;
}

.dash-board-right .save .header {
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  align-items: center;
}

.dash-board-right .save .header span:nth-child(2) {
  font-size: 14px;
  font-weight: 300;
  cursor: pointer;
}

.dash-board-right .save .card-container {
  margin: 0px 10px;
}

.dash-board-right .save .card-container .card {
  margin-top: 10px;
  color: #26272d;
  background: rgba(248, 248, 249, 0.5);
  border-radius: 3px;
  padding: 10px;
}

.dash-board-right .save p {
  color: #404040;
}
